.container {
  width: 100%;
  max-width: $desktop_max;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: $tablet_max) {
  .container {
    max-width: 1070px;
  }
}

@media (max-width: $tablet_extra) {
  .container {
    padding: 0 10px;
  }
}

@media (max-width: $mobile_max) {
  .container {
    padding: 0 16px;
  }
}
