.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper__content {
  flex: 1 0 auto;
  padding-top: $header_height;
}

@media (max-width: $tablet_max) {
  .wrapper {
    overflow-x: hidden;
  }

  .wrapper__content {
    padding-top: 62px;
  }
}

@media (max-width: $tablet_extra) {
  .wrapper__content {
    padding-top: 66px;
  }
}

// для ie
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .wrapper {
    overflow-x: hidden;
  }
}
